:root{
  --graffiti:url("res/graffiti.jpg");
}

.large-text{
  background-position:-600px -105px;
  background-image:var(--graffiti);
  text-shadow:0px 0px 30px black;
  display:inline-block;
  border-radius:95px;
  color:var(--white);
  font-weight:bold;
  font-size:120px;
  padding:35px;
}

#bottom{
  background-image:var(--graffiti);
  position:absolute;
  height:300px;
  width:100%;
  left:0px;
}
