<div class="row heading">Supported Browsers</div>
<div class="row">
  <div class="col-md-12">
    <p>
      Like any good web developer, I design my sites for the major modern browsers.
      I don't usually support Microsoft browsers (IE is a nightmare and Edge is a joke).
    </p>
    <p>I guarantee that my sites work on the following browsers:</p>
    <br>
    <div class="row">
      <div class="col-md-3">
        <img class="browser" title="Firefox" src="res/icons/firefox.png">
      </div>
      <div class="col-md-3">
        <img class="browser" title="Chrome" src="res/icons/chrome.png">
      </div>
      <div class="col-md-3">
        <img class="browser" title="Opera" src="res/icons/opera.png">
      </div>
      <div class="col-md-3">
        <img class="browser" title="Safari" src="res/icons/safari.png">
      </div>
    </div>
    <br>
    <p>
      If you want your site guaranteed to work on Internet Explorer or any other browser, you will need to let me know.
      The same goes for browsers on mobile devices.
      During standard testing I open my sites in the four browsers listed above for different window sizes and zoom factors.
      I do not test on mobile unless specifically told to do so.
    </p>
  </div>
</div>

<style>
  .row .col-md-3:not(:last-of-type){
    border-right:solid 1px var(--border);
  }
  .row .col-md-3{
    text-align:center;
  }
</style>
