<div class="row heading">Contact Me</div>
<div class="row">
  <div class="col-md-12">
    <p>
      Find me on social media, <a href="mailto:alugocp@aim.com">email me</a>,
      or look at my <a href="http://alexlugo.net" target="_blank">resume</a>.
    </p>
    <br>
    <div class="row">
      <div class="col-md-3">
        <a href="https://www.facebook.com/alex.lugo.5621" title="Facebook" target="_blank">
          <img class="icon" src="res/icons/facebook.png">
        </a>
      </div>
      <div class="col-md-3">
        <a href="https://twitter.com/alugoc" title="Twitter" target="_blank">
          <img class="icon" src="res/icons/twitter.png">
        </a>
      </div>
      <div class="col-md-3">
        <a href="https://www.linkedin.com/in/alex-lugo-0938707b/" title="LinkedIn" target="_blank">
          <img class="icon" src="res/icons/linkedin.png">
        </a>
      </div>
      <div class="col-md-3">
        <a href="https://www.instagram.com/alugocp1/" title="Instagram" target="_blank">
          <img class="icon" src="res/icons/instagram.png">
        </a>
      </div>

    </div>
    <br>
    <p>
      It's best to approach me on Twitter or Facebook.
      I don't check the email given above that often, but if you have a serious request I'll give you my main email.
    </p>
    <p>
      You should expect me to Google you if you make a request for a site.
      I like to know what my clients stand for and why they need something built.
    </p>
  </div>
</div>

<style>
  .row .col-md-3:not(:last-of-type){
    border-right:solid 1px var(--border);
  }
  .row .col-md-3{
    text-align:center;
  }
</style>
