<div class="row heading">Built With</div>
<div class="row">
  <div class="col-md-12">
    <p>
      Because I'm a sucker for crazy logos and iconography, here's a list of all the frameworks I used to create this website:
    </p>
    <div class="row">
      <div class="col-md-4">
        <img src="res/icons/webstatic.png" title="WebStatic">
      </div>
      <div class="col-md-4">
        <img src="res/icons/bootstrap.svg" title="Bootstrap">
      </div>
      <div class="col-md-4">
        <img src="res/icons/jquery.svg" title="jQuery">
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-md-4">
        <img src="res/icons/javascript.svg" title="JavaScript">
      </div>
      <div class="col-md-4">
        <img src="res/icons/html5.svg" title="HTML5">
      </div>
      <div class="col-md-4">
        <img src="res/icons/css3.svg" title="CSS3">
      </div>
    </div>
  </div>
</div>

<style>

  .row .col-md-4:not(:last-child){
    border-right:solid 1px var(--border);
  }
  .row .col-md-4{
    text-align:center;
  }
  img{
    height:75px;
  }

</style>
