<div class="row heading">Previous Works</div>
<div class="row">
  <div class="col-md-12">
    I've built multiple websites for both myself and a wide range of clientelle.
    Here are a few of my favorites:<br><br>

    <div class="row">
      <span class="col-md-6">
        <ul>
          <li><a target="_blank" href="http://www.chriscobbs.com">Chris Cobbs's website</a></li>
          <li><a target="_blank" href="http://alexlugo.net/toolbox">Toolbox</a></li>
          <li><a target="_blank" href="http://alugocp.github.io/ws-page">WebStatic</a></li>
        </ul>
      </span>
      <span class="col-md-6">
        <ul>
          <li><a target="_blank" href="http://alexlugo.net">My personal website</a></li>
          <li><a target="_blank" href="https://umiacs.umd.edu/~alugocp">My UMD site</a></li>
          <li>This site (go figure, huh?)</li>
        </ul>
      </span>
    </div>
  </div>
</div>
