<div class="row heading">Previous Works</div>
<div class="row">
  <div class="col-md-12">
    I've built multiple websites for both myself and a wide range of clientelle.
    Here are a few of my favorites:<br><br>
    
    <div class="row">
      <span class="col-md-6">
        • <a href="http://www.chriscobbs.com">Chris Cobbs's website</a><br>
        • <a href="http://alexlugo.net/toolbox">Toolbox</a><br>
        • This site (go figure, huh?)
      </span>
      <span class="col-md-6">
        • <a href="http://alexlugo.net">My personal website</a>
      </span>
    </div>
  </div>
</div>
