<div class="row heading">Previous Works</div>
<div class="row">
  <div class="col-md-12">
    I've built multiple websites for both myself and a wide range of clientelle.
    Here are a few of my favorites:<br><br>

    <div class="row">
      <span class="col-md-6">
        <ul>
          <li>
            <a target="_blank" href="http://www.chriscobbs.com">Chris Cobbs's website</a>
            <p>
              Chris Cobbs was one of my first web development clients.
              Fun fact: I met him at a Mexico/Puerto Rico charity fundraiser in DC.
              He wanted a redesigned personal site - something minimalist, sleek and refined.
              If you click the link above you'll see the final design we agreed upon.
            </p>
          </li>
          <li>
            <a target="_blank" href="http://alexlugo.net/toolbox">Toolbox</a>
            <p>
              One day while driving home from school I got the idea to make all my developer tools available in one place online.
              It would be a web repo for all the dev tools I've written.
              That way I could share my development process with the world.
              Thus Toolbox was born, accompanied by the first server I ever deployed onto the cloud.
              Hosting for this site is done by a free PythonAnywhere account, so it takes a few secodns to start up after inactivity.
            </p>
          </li>
          <li>
            <a target="_blank" href="http://alugocp.github.io/ws-page">WebStatic</a>
            <p>
              One day while designing a webapp I thought it would be a good idea to use components (like in Angular).
              I didn't want to devote time to learning Angular (and running a client daemon seemed odd to me) so instead I just built my own front-end web framework.
              Yes, I see the irony in that.
              I decided to make my framework public (and since then it's been used by some other developers I know) so naturally I had to make a website for it.
            </p>
          </li>
        </ul>
      </span>
      <span class="col-md-6">
        <ul>
          <li>
            <a target="_blank" href="http://alexlugo.net">My personal website</a>
            <p>
              I designed this site in my senior year of high school as a way to cut down on paper (too many people wanted my resume so I'd just point them to this site).
              I still keep the content updates and perform small style or code edits every now and then.
            </p>
          </li>
          <li>
            <a target="_blank" href="https://umiacs.umd.edu/~alugocp">My UMD site</a>
            <p>
              While it may seem a little redundant to some, I wanted to have a fresh site to upload to all my campus web spaces.
              As such I started to build what's basically a UMD-centric version of my resume site.
              It was a fun excuse to try out some css that was new to me at the time.
            </p>
          </li>
          <li>This site (go figure, huh?)</li>
        </ul>
      </span>
    </div>
  </div>
</div>

<style>

a{
  font-weight:bold;
}

</style>
