<div class="row heading">Pricing</div>
<div class="row">
  <div class="col-md-12">
    <p>
      I'm flexible with pricing.
      The baseline for a standard website is $300, but this can be lowered provided you have a good reason.
    </p>
    <p>The cost of your site will increase if I have to do any of the following:</p>
    <div class="row">
      <div class="col-md-6">
        <ul>
          <li>Support a browser I don't normally support</li>
          <li>Make a mobile version</li>
          <li>Build a server</li>
        </ul>
      </div>
      <div class="col-md-6">
        <ul>
          <li>Implement lots of front-end scripting</li>
          <li>Rub my tummy and pat my head, or vice-versa</li>
        </ul>
      </div>
    </div>
    <p>
      Single-page and static sites will be significantly cheaper than large web applications.
      I don't charge extra for having to learn a new framework or platform only if I've been wanting to learn it anyway.
      Clients are expected to pay for hosting after development is done (you may have complete control over where your site is hosted).
    </p>
  </div>
</div>

<style>

  .row .col-md-6:first-of-type{
    border-right:solid 1px var(--border);
  }

</style>
