<div class="row heading">Technologies Used</div>
<div class="row">
  <div class="col-md-12">
    Over my many years of web development experience I've worked with various languages, platforms and frameworks.
    Below you'll find all of the tools I've used for web development and how comfortable I am using them.
    <br><br>
    <div class="row">
      <span class="col-md-6">
        <div class="listitem guru">WebStatic</div>
        <div class="listitem guru">Lodr</div>
        <div class="listitem guru">jQuery</div>
        <div class="listitem okay">Bootstrap</div>
        <div class="listitem okay">Flask</div>
      </span>
      <span class="col-md-6">
        <div class="listitem okay">Shiny R</div>
        <div class="listitem okay">PHP</div>
        <div class="listitem noob">Google App Engine</div>
        <div class="listitem noob">WordPress</div>
        <div class="listitem noob">ASP.NET (C#)</div>
      </span>
    </div>
  </div>
</div>

<style>

  .listitem{
    background-color:var(--lightGray);
    border-radius:25px;
    margin-bottom:5px;
    position:relative;
    font-weight:bold;
    padding:10px;
  }
  .listitem::after{
    color:var(--white);
    border-radius:25px;
    position:absolute;
    padding:5px;
    right:5px;
    top:5px;
  }
  .listitem.guru::after{
    background-color:#23d108;
    content:"Master";
  }
  .listitem.okay::after{
    background-color:#fcc316;
    content:"Novice";
  }
  .listitem.noob::after{
    background-color:#e82604;
    content:"Noob";
  }

</style>
