<div class="row heading">Technologies Used</div>
<div class="row">
  <div class="col-md-12">
    <p>
      Over my many years of web development experience I've worked with various languages, platforms and frameworks.
      Below you'll find all of the tools I've used for web development and how comfortable I am using them.
    </p><br>
    <div class="row">
      <span class="col-md-6">
        <div class="listitem guru">WebStatic</div>
        <div class="listitem guru">Lodr</div>
        <div class="listitem guru">jQuery</div>
        <div class="listitem guru">Bootstrap</div>
        <div class="listitem guru">Shiny R</div>
        <div class="listitem okay">Flask</div>
        <div class="listitem okay">PHP</div>
        <div class="listitem okay">MySQL</div>
      </span>
      <span class="col-md-6">
        <div class="listitem noob">Google App Engine</div>
        <div class="listitem noob">WordPress</div>
        <div class="listitem noob">ASP.NET (C#)</div>
        <div class="listitem noob">MongoDB</div>
        <div class="listitem todo">CSS Grid</div>
        <div class="listitem todo">WebAssembly</div>
        <div class="listitem todo">Serverless</div>
        <div class="listitem todo">Angular</div>
      </span>
    </div>
    <br><p>
      Just to clarify what the labels in this section mean:
      <ul>
        <li>
          <span style="color:var(--green);font-weight:bold;">Master</span>
          means I know the technology inside and out.
          A couple of these technologies are actually my own creations.
        </li>
        <li>
          <span style="color:var(--orange);font-weight:bold;">Novice</span>
          are software that I've used in the past but perhaps not to its fullest extent.
        </li>
        <li>
          <span style="color:var(--red);font-weight:bold;">Noob</span>
          means that I'm just starting out with a particular framework, or I've used it minimally in past projects.
        </li>
        <li>
          <span style="color:var(--none);font-weight:bold;">Todo</span>
          means that learning it is on my todo list.
        </li>
      </ul>
    </p>
    <p>
      These do not represent every framework, platform and server-side language I have developed in.
      Listed above are just the most well-known and widely-used technologies.
    </p>
  </div>
</div>

<style>

  .tech{
    --orange:#fcc316;
    --green:#23d108;
    --none:#a8a8a8;
    --red:#e82604;
  }

  .listitem{
    background-color:var(--lightGray);
    border-radius:25px;
    margin-bottom:5px;
    position:relative;
    font-weight:bold;
    padding:10px;
  }
  .listitem::after{
    color:var(--white);
    border-radius:25px;
    position:absolute;
    padding:5px;
    right:5px;
    top:5px;
  }
  .listitem.guru::after{
    background-color:var(--green);
    content:"Master";
  }
  .listitem.okay::after{
    background-color:var(--orange);
    content:"Novice";
  }
  .listitem.noob::after{
    background-color:var(--red);
    content:"Noob";
  }
  .listitem.todo::after{
    background-color:var(--none);
    content:"Todo";
  }

</style>
